<!DOCTYPE html>
{% load static %}
<html lang="ja">
{% load django_bootstrap5 %}  # 不要かも

<head>
    {% bootstrap_css %}  # 不要かも
    {% bootstrap_javascript %}  # 不要かも
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">  #type=不要かも

    <!-- Custom fonts for this template -->  #Webフォントの指定
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    # font-family: 'Catamaran', sans-serif;
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    # font-family: 'Lato', sans-serif;
    # 日本語フォント
     <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
    # font-family: 'M PLUS Rounded 1c', sans-serif;

</head>
<body>

</body>
</html>